@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
}
h1{
  color: rgb(255, 30, 0);
  text-align: center;
  height: 50px;
    width: 200px;
    position: relative;
    background: linear-gradient(135deg, #4e062e, #6ba70b, #b6350e);
    border-radius: 10px;
    cursor: default;
    animation: animate 1.5s linear infinite;
}
body{
  display: grid;
  place-items: center;
  background: #cfd1db;
}
.clock{
  background: #e0e2e7;
  height: 120px;
  
  line-height: 120px;
  text-align: center;
  padding: 0 30px;
  box-shadow: -3px -3px 7px rgba(150, 47, 47, 0.555),
               3px 3px 5px rgba(116, 44, 44, 0.5);
}
.clock .display{
  font-size: 60px;
  color: rgb(255, 0, 0);
  letter-spacing: 5px;
  font-family: 'Orbitron', sans-serif;
}
/*Created By GOWRISHANKARVV */
  /*github : https://github.com/Gowrishankarvv*/
 /*website: https://gowrishankarvv.ml/ 